@import "swiper/swiper.scss";
@import "swiper/components/navigation/navigation.scss";
@import "swiper/components/pagination/pagination.scss";

:root {
    --swiper-theme-color: #{$primary} !important;
}

.swiper--slide--item {
    position: relative;
    &:before {
        content: "";
        background: var(--bs-bg-color-hero);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }
}
