{
    "presets": ["@babel/env"],
    "plugins": [
        [
            "@babel/plugin-transform-react-jsx",
            {
                "pragma": "h",
                "pragmaFrag": "Fragment"
            }
        ],
        [
            "babel-plugin-jsx-pragmatic",
            {
                "module": "preact",
                "import": "h, Fragment",
                "export": "h, Fragment"
            }
        ],
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-proposal-optional-chaining"
    ]
}
