@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth !important;
    }
}

:root {
    --bs-grey-light: #{$grey-light};
    --bs-grey-light-1: #{$grey-light-1};
    --bs-primary-hover: #{$primary-hover};
    --bs-bg-color-hero: #{$bg-color-hero};
}
