@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i);

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

a {
    color: $primary;
    text-decoration: none;
}

a:hover {
    color: #51cdbe;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: auto;
    }
}

.cursor{
    &-pointer {
        cursor: pointer;
    }
}

.letter-spacing-3 {
    letter-spacing: .3em;
}

.label-heading, .subtitle {
    text-transform: uppercase;
    color: #868e96;
}

.font-weight-light {
    font-weight: 300!important;
}

.subtitle {
    margin-bottom: 0;
    letter-spacing: .2em;
    font-weight: 700;
}