.acticle-blog {
    .cdx-underline {
        text-decoration: underline;
    }

    .ratio {
        display: block;
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.66%;
    }

    .ratio iframe,
    .ratio img:first-child {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

    .ce-delimiter:before {
        display: inline-block;
        content: "***";
        font-size: 30px;
        line-height: 65px;
        height: 30px;
        letter-spacing: 0.2em;
    }

    .inline-code {
        background: rgba(250, 239, 240, 0.78);
        color: #b44437;
        padding: 3px 4px;
        border-radius: 5px;
        margin: 0 1px;
        font-family: inherit;
        font-size: 0.86em;
        font-weight: 500;
        letter-spacing: 0.3px;
    }

    .cdx-simple-image__picture--with-background {
        background: #eff2f5;
        padding: 10px;
    }

    .link-tool__description {
        line-height: 1.55em;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .cdx-simple-image__picture--with-background img {
        display: block;
        max-width: 60%;
        margin: 0 auto;
    }
    .cdx-simple-image img {
        vertical-align: bottom;
    }
}
