// @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i);

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*:before,
*:after {
    box-sizing: border-box;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
    padding: 0;
    margin: 0;
    color: #444444;
    background-color: rgba(255, 234, 163, 0.336);
}

a {
    color: $primary;
    text-decoration: none;
    &:hover {
        color: $secondary;
        text-decoration: none;
    }
}

.nav--muted {
    .app--header {
        box-shadow: none;
    }
}

.cursor {
    &-pointer {
        cursor: pointer;
    }
}

.letter-spacing-3 {
    letter-spacing: 0.3em;
}

.label-heading,
.subtitle {
    text-transform: uppercase;
    color: #868e96;
}

.font-weight-light {
    font-weight: 300 !important;
}

.font-weight-600 {
    font-weight: 600 !important;
}

.subtitle {
    margin-bottom: 0;
    letter-spacing: 0.2em;
    font-weight: 700;
}

.display-1,
.display-2 {
    font-weight: 400;
    line-height: 1.3;
}

.object-fit--cover {
    object-fit: cover;
}

.inherit-color {
    color: inherit;
}

.font-weight-300 {
    font-weight: 300 !important;
}
.font-weight-400 {
    font-weight: 400 !important;
}
.font-weight-500 {
    font-weight: 500 !important;
}
.font-weight-600 {
    font-weight: 600 !important;
}
.font-weight-700 {
    font-weight: 700 !important;
}
.font-weight-800 {
    font-weight: 800 !important;
}
.font-weight-900 {
    font-weight: 900 !important;
}

.text-through {
    text-decoration: line-through;
}
.text-xs {
    font-size: 0.75rem !important;
}
.text-sm {
    font-size: 0.875rem !important;
}
.text-lg {
    font-size: 1.25rem !important;
}
.text-xl {
    font-size: 1.5rem !important;
}
.lh-100 {
    line-height: 1;
}
.lh-110 {
    line-height: 1.1;
}
.lh-120 {
    line-height: 1.2;
}
.lh-130 {
    line-height: 1.3;
}
.lh-140 {
    line-height: 1.4;
}
.lh-150 {
    line-height: 1.5;
}
.lh-160 {
    line-height: 1.6;
}
.lh-170 {
    line-height: 1.7;
}
.lh-180 {
    line-height: 1.8;
}
.ls-1 {
    letter-spacing: 0.0625rem;
}
.ls-15 {
    letter-spacing: 0.09375rem;
}
.ls-2 {
    letter-spacing: 0.125rem;
}
