.app--header {
    background: #e9e8e6;
    box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.08);
    z-index: 997;
    padding: 15px 0;

    .logo {
        font-size: 32px;
        margin: 0;
        padding: 0;
        line-height: 1;
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: uppercase;
        a {
            color: #222222;
        }
        img {
            max-height: 40px;
        }
    }

    @media (max-width: 992px) {
        .logo {
            font-size: 28px;
        }
    }

    .header-social-links {
        padding-left: 20px;
    }

    .header-social-links a {
        color: #222222;
        padding-left: 6px;
        display: inline-block;
        line-height: 1px;
        transition: 0.3s;
        font-size: 16px;
    }

    .header-social-links a:hover {
        color: #34b7a7;
    }

    @media (max-width: 992px) {
        .header-social-links {
            padding: 0 48px 0 0;
        }
    }
}

/*--------------------------------------------------------------
  # Header Social Links
  --------------------------------------------------------------*/
